.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.page {
  background-color: #ffffff;
  font-family: roboto, sans-serif;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.active {
  color: #2196f3;
}

body.modal-open {
  overflow: hidden;
}

body {
  z-index: 15;
}

@media screen and (max-width: 767px) {
  body {
    padding-top: 60px;
  }
}

.container {
  padding: 0 15px 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (max-width: 767px) {
  .pagination,
  .header-contacts {
    display: none;
    padding-top: 10px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 1199px) {
  .opportunities {
    display: none;
  }
}

header {
  background-color: #ffffff;
}

header {
  position: relative;
  z-index: 10;
}

.header {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .header {
    position: fixed;
    top: 0;
  }
}

@media screen and (max-width: 480px) {
  .header {
    max-width: 100%;
  }
}

.logo {
  color: #2196f3;
}

.logo-studio {
  color: #000000;
}

.logo-name {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .logo-name {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo-name {
    font-size: 26px;
    padding: 24px 0 25px 0;
    margin-right: 93px;
  }
}

.pagination-link {
  padding: 32px 0 32px 0;
  position: relative;
  display: block;
}

.pagination .pagination-link {
  color: #212121;
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.pagination-link:hover, .pagination-link:focus,
.pagination-link .color:focus,
.pagination-link .color:hover {
  color: #2196f3;
  fill: #2196f3;
}

.currentLink {
  color: #2196f3;
}

.pagination-list-underline::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.pagination .pagination-list + .pagination-list {
  margin-left: 50px;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .header-nav {
    padding: 10px 0 10px 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 1199px) {
  .header-contacts {
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
}

.header-contacts-link {
  color: #757575;
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .header-contacts-link {
    font-size: 12px;
    line-height: 1.166;
  }
  .header-contacts-link .letter-svg {
    width: 14px;
    height: 10px;
    fill: #757575;
    margin-bottom: 10px;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-delay: 0;
            transition-delay: 0;
  }
  .header-contacts-link .tel-svg {
    width: 10px;
    height: 14px;
    fill: #757575;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-delay: 0;
            transition-delay: 0;
  }
}

@media screen and (min-width: 1199px) {
  .header-contacts-link {
    font-size: 14px;
    line-height: 1.142;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-delay: 0;
            transition-delay: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-contacts .header-contacts-link:hover,
  .header-contacts .header-contacts-link:focus {
    fill: #2196f3;
    color: #2196f3;
  }
  .header-contacts .header-contacts-link:hover .letter-svg,
  .header-contacts .header-contacts-link:focus .letter-svg,
  .header-contacts .header-contacts-link:hover .tel-svg,
  .header-contacts .header-contacts-link:focus .tel-svg {
    fill: #2196f3;
  }
}

@media screen and (min-width: 1199px) {
  .header-nav .contacts-tel {
    margin-left: 50px;
  }
}

.letter-svg,
.tel-svg {
  margin-right: 10px;
  fill: #757575;
}

.menu-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  margin: 0;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border: none;
}

.menu-btn-svg-close {
  display: none;
}

.menu-btn.is-open .menu-btn-svg-close {
  display: block;
}

.menu-btn.is-open .menu-btn-svg-menu {
  display: none;
}

.menu-btn:hover .menu-btn-svg-menu,
.menu-btn:focus .menu-btn-svg-menu {
  fill: #2196f3;
}

.menu-btn:hover .menu-btn-svg-close,
.menu-btn:focus .menu-btn-svg-close {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu-modal {
    position: absolute;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    width: 100%;
    height: 395px;
    top: 100%;
    right: 0%;
    display: none;
    z-index: 999;
  }
}

@media screen and (max-width: 480px) {
  .menu-modal {
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .menu-modal {
    display: none;
  }
}

.menu-modal.is-open {
  display: block;
}

.menu-nav-contacts-svg {
  fill: #757575;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.menu-nav-contacts-link {
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.menu-nav {
  text-align: center;
  padding: 60px 0 60px 0;
}

.menu-nav-list-link {
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
  position: relative;
}

.modal-menu-underline::after {
  content: "";
  display: block;
  width: 100%;
  top: 120%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.menu-nav-list-link:hover,
.menu-nav-list-link:focus,
.menu-nav-contacts-link:hover,
.menu-nav-contacts-link:focus {
  color: #2196f3;
}

.menu-nav-contacts-link:hover .menu-nav-contacts-svg,
.menu-nav-contacts-link:focus .menu-nav-contacts-svg {
  fill: #2196f3;
}

a.modal-menu-underline {
  margin-bottom: 48px;
}

.menu-nav-list-item:last-child {
  margin-bottom: 60px;
}

.menu-bottom {
  margin-bottom: 48px;
}

.menu-nav-list-item:not(:first-child) {
  margin-top: 40px;
}

.menu-nav-contacts-item:first-child {
  margin-bottom: 16px;
}

.menu-nav-contacts-svg {
  margin-right: 10px;
}

.button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

@media screen and (max-width: 767px) {
  .button-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 40px;
  }
  .button-list-item:not(:last-child) {
    margin-right: 8px;
  }
  .button-list-item {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .button-list {
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .button-list-item:not(:last-child) {
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .button-list {
    margin-bottom: 34px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .button-list-item:not(:last-child) {
    margin-right: 8px;
  }
}

.button-menu {
  background-color: #f5f4fa;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border-color: transparent;
  color: #212121;
  font-family: inherit;
  font-family: roboto, sans-serif;
  cursor: pointer;
  padding: 6px 22px 6px 22px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.button-menu:hover, .button-menu:focus, .button-menu:active {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.main {
  border-top: 1px solid #ececec;
}

@media screen and (max-width: 1199px) {
  .main {
    padding: 60px 0 60px 0;
  }
}

@media screen and (min-width: 1200px) {
  .main {
    padding-top: 100px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .examples-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}

.examples-list-item {
  background: #ffffff;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .examples-list-item {
    margin-right: 30px;
    margin-bottom: 30px;
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
  }
  .examples-list-item:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .examples-list-item {
    margin-right: 30px;
    margin-bottom: 30px;
    -ms-flex-preferred-size: calc((100% - 3 * 30px) / 3);
        flex-basis: calc((100% - 3 * 30px) / 3);
  }
  .examples-list-item:nth-child(3n) {
    margin-right: 0;
  }
}

.examples-list-item:hover, .examples-list-item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples-content {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 20px 24px 20px 24px;
}

@media screen and (max-width: 767px) {
  .examples-content {
    margin-bottom: 30px;
  }
}

.examples-content-title {
  color: #212121;
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples-content-menu {
  color: #757575;
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  margin-top: 4px;
}

.card-img {
  position: relative;
  overflow: hidden;
}

.card-img-overlay {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.card-img-overlay-text {
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px 63px 24px;
}

.examples-list-item:hover .card-img > .card-img-overlay {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media screen and (max-width: 1199px) {
  .card-img-overlay {
    display: none;
  }
}

.footer {
  background-color: #2f303a;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 0 60px 0;
}

@media screen and (max-width: 767px) {
  .footer-flex {
    display: block;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1199px) {
  .footer-flex {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-flex-contacts {
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-flex-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 70px;
  }
}

.hero .footer {
  background-color: #2f303a;
}

@media screen and (min-width: 768px) {
  .footer-flex-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.logo-footer {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
}

@media screen and (max-width: 1199px) {
  .logo-footer {
    font-size: 24px;
    line-height: 1.166;
  }
}

.logo-footer-studio {
  color: #ffffff;
}

.adress-item {
  color: rgba(255, 255, 255, 0.6);
}

.adress-item:not(:first-child) {
  margin-top: 9px;
}

@media screen and (max-width: 1199px) {
  .adress-item:not(:first-child) {
    margin-top: 8px;
  }
}

.adress-item-contacts {
  color: #ffffff;
  text-decoration: none;
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.adress-list {
  margin-top: 20px;
  margin-bottom: 60px;
}

.footer-contacts-link {
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 767px) {
  .connect {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .connect {
    margin-right: 93px;
  }
}

.connect-list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1200px) {
  .connect-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.connect-item + .connect-item {
  margin-left: 10px;
}

.connect-item-link {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.connect-item-link:hover, .connect-item-link:focus {
  background-color: #2196f3;
}

.connect-item-link-svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.connect-us-title {
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.connect-form-field {
  width: 358px;
  height: 50px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-right: 12px;
  padding-left: 16px;
  color: #afb1b8;
  outline: none;
}

@media screen and (max-width: 1199px) {
  .connect-form-field {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1199px) {
  .connect-form-field {
    width: 450px;
  }
}

@media screen and (max-width: 480px) {
  .connect-form-field {
    max-width: 100%;
  }
}

.connect-form-btn {
  width: 200px;
  height: 50px;
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

@media screen and (max-width: 1199px) {
  .connect-form-btn {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 480px) {
  .connect-form-btn {
    max-width: 100%;
  }
}

.connect-form-btn-text {
  margin-right: 10px;
}

.connect-form-btn-svg {
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

.connect-form-btn:focus, .connect-form-btn:hover {
  background-color: #188ce8;
}
/*# sourceMappingURL=portfolio.css.map */