.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.page {
  background-color: #ffffff;
  font-family: roboto, sans-serif;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.active {
  color: #2196f3;
}

.container {
  padding: 0 15px 0 15px;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 480px) {
  .container {
    margin: 0 auto;
    width: 480px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .pagination,
  .header-contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  background-color: #ffffff;
}

.logo {
  color: #2196f3;
}

.logo-studio {
  color: #000000;
}

.logo-name {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .logo-name {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo-name {
    font-size: 26px;
    padding: 24px 0 25px 0;
  }
}

.pagination-link {
  padding: 32px 0 32px 0;
  position: relative;
  display: block;
}

.pagination .pagination-link {
  color: #212121;
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.pagination-link:hover, .pagination-link:focus,
.pagination-link .color:focus,
.pagination-link .color:hover {
  color: #2196f3;
  fill: #2196f3;
}

.currentLink {
  color: #2196f3;
}

.pagination-list-underline::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.pagination .pagination-list + .pagination-list {
  margin-left: 50px;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .header-nav {
    padding: 10px 0 10px 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.button-list {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button-list .button-list-item + .button-list-item {
  margin-left: 8px;
}

.button-menu {
  background-color: #f5f4fa;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border-color: transparent;
  color: #212121;
  font-family: inherit;
  font-family: roboto, sans-serif;
  cursor: pointer;
  padding: 6px 22px 6px 22px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.button-menu:hover, .button-menu:focus, .button-menu:active {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.main {
  padding-top: 100px;
  padding-bottom: 94px;
}

.examples-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 56px;
  margin-right: -30px;
  margin-bottom: -30px;
}

.examples-list-item {
  margin-right: 30px;
  margin-bottom: 30px;
  -ms-flex-preferred-size: calc((100% - 3 * 30px) / 3);
      flex-basis: calc((100% - 3 * 30px) / 3);
  background: #ffffff;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.examples-list-item:hover, .examples-list-item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples-list-item:nth-child(3n) {
  margin-right: 0;
}

.examples-content {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 20px 0 20px 24px;
}

.examples-content-title {
  color: #212121;
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples-content-menu {
  color: #757575;
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  margin-top: 4px;
}

.card-img {
  position: relative;
  overflow: hidden;
}

.card-img-overlay {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.card-img-overlay-text {
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px 63px 24px;
}

.examples-list-item:hover .card-img > .card-img-overlay {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.footer {
  background-color: #2f303a;
  height: 252px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 0 60px 0;
}

.footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-flex-contacts {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 70px;
}

.hero .footer {
  background-color: #2f303a;
}

.logo-footer {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
}

.logo-footer-studio {
  color: #ffffff;
}

.adress-item {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 20px;
}

.adress-item:not(:first-child) {
  margin-top: 9px;
}

.adress-item-contacts {
  color: #ffffff;
  text-decoration: none;
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.connect {
  width: 206px;
  height: 80px;
  margin-right: 93px;
}

.connect-list {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-top: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.connect-item-link {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.connect-item-link:hover, .connect-item-link:focus {
  background-color: #2196f3;
}

.connect-item-link-svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.connect-us {
  width: 570px;
  height: 86px;
}

.connect-us-title {
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.connect-form {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.connect-form-field {
  width: 358px;
  height: 50px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-top: 20px;
  margin-right: 12px;
  padding-left: 16px;
  color: #afb1b8;
  outline: none;
}

.connect-form-btn {
  width: 200px;
  height: 50px;
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.connect-form-btn-text {
  margin-right: 10px;
}

.connect-form-btn-svg {
  width: 40px;
  height: 40px;
  fill: #ffffff;
}

.connect-form-btn:focus, .connect-form-btn:hover {
  background-color: #188ce8;
}
/*# sourceMappingURL=portfolio.css.map */