.advantages {
  @media screen and (max-width: 1199px) {
    padding: 60px 0 60px 0;
  }

  @media screen and (min-width: 1199px) {
    padding: 94px 0 47px 0;
  }
}

.advantages-list-item::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  background-size: 70px;
  border-radius: 4px;
  margin-bottom: 30px;

  @media screen and (max-width: 767px) {
    width: 450px;
    height: 120px;
  }
  @media screen and (max-width: 480px) {
    width: 100%;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 354px;
    height: 120px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 120px;
  }
}
.advantages-list-item {
  margin-bottom: 30px;

  &-text {
    color: $secondary-text-color;
    font-family: $primary-text-style;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;

    @media screen and (max-width: 767px) {
      width: 100%;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 354px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }
}

.advantages-list-item-title {
  color: $primary-text-color;
  font-family: $primary-text-style;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 767px) and (max-width: 1199px) {
    & &-item:nth-child(2n + 1) {
      margin-right: 30px;
    }
  }
  @media screen and (min-width: 1199px) {
    &-item {
      text-align: left;
    }

    & &-item + &-item {
      margin-left: 30px;
    }
  }
}

.antenna::before {
  background-image: url(../image/antenna.svg);
}
.clock::before {
  background-image: url(../image/clock.svg);
}
.diagram::before {
  background-image: url(../image/diagram.svg);
}
.astronaut::before {
  background-image: url(../image/astronaut.svg);
}
