.form-checkbox {
  margin-top: 20px;
  flex-wrap: nowrap;
  justify-content: center;

  &-lable {
    font-family: $primary-text-color;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #757575;
    align-items: center;
    margin-right: 8px;

    &::before {
      content: "";
      display: inline-block;
      width: 16px;
      height: 15px;
      margin-right: 7px;
      border: 2px solid #212121;
      border-radius: 2px;
      @include transition;
    }
    .checkbox-check:checked + &::before {
      content: "";
      display: inline-block;
      width: 16px;
      height: 15px;
      margin-right: 7px;
      background: $active-text-color;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 2px;
      background-image: url(../image/icon-check.svg);
      background-size: contain;
      background-origin: border-box;
      border-color: $active-text-color;
      @include transition;
    }
  }

  &-link {
    color: $active-text-color;
    font-family: $active-text-color;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
  }
}
