.clients {
  padding: 60px 0 60px 0;
  @media screen and (min-width: 1199px) {
    padding: 94px 0 94px 0;
  }

  &-list {
    flex-wrap: wrap;
    justify-content: center;
  }
  &-title {
    font-family: $primary-text-style;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.03em;
    text-align: center;
    font-size: 28px;
    line-height: 1.178;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    &-title {
      font-size: 36px;
      line-height: 1.166;
    }

    &-list {
      justify-content: space-between;
    }
    &-title {
      margin-bottom: 50px;
      // margin-bottom: 30px;
    }
  }

  @media screen and (max-width: 1199px) {
    &-item:nth-child(-n + 3) {
      margin-bottom: 30px;
    }
  }
  @media screen and (max-width: 767px) {
    &-item:nth-child(2n + 1) {
      margin-right: 30px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &-item:not(:nth-child(3n + 3)) {
      margin-right: 30px;
    }
  }
}
