.clients-link {
  align-items: center;
  justify-content: center;
  height: 90px;
  border-radius: 4px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  @include transition;

  &:hover,
  &:focus {
    border-color: $active-text-color;
  }

  &-svg {
    @include transition;
  }

  &:hover &-svg,
  &:focus &-svg {
    fill: $active-text-color;
  }
}

.clients-item {
  @media screen and (max-width: 767px) {
    width: 210px;
  }
  @media screen and (max-width: 480px) {
    max-width: 40%;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}
