.examples-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }

  &-item {
    background: #ffffff;
    @include transition;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-right: 30px;
      margin-bottom: 30px;
      flex-basis: calc(100% / 2 - 30px);
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
      margin-bottom: 30px;
      flex-basis: calc((100% - 3 * 30px) / 3);
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
}

.examples-content {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 20px 23px 20px 23px;
  // box-sizing: content-box;
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }

  &-title {
    color: $primary-text-color;
    font-family: $primary-text-style;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &-menu {
    color: $secondary-text-color;
    font-family: $primary-text-style;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    margin-top: 4px;
  }
}
