.card-img {
  position: relative;
  overflow: hidden;

  &-overlay {
    position: absolute;
    background-color: rgba(33, 150, 243, 0.9);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    @include transition;
    transform: translateY(100%);

    &-text {
      font-family: $primary-text-style;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 1.555;
      letter-spacing: 0.03em;
      color: #ffffff;
      padding: 63px 24px 63px 24px;
    }
  }

  .examples-list-item:hover & > &-overlay {
    opacity: 1;
    transform: translateY(0);
  }
}

.card-img-overlay {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}
