.adress-item {
  color: rgba(255, 255, 255, 0.6);
  &:not(:first-child) {
    margin-top: 9px;
  }
  @media screen and (max-width: 1199px) {
    &:not(:first-child) {
      margin-top: 8px;
    }
  }
  &-contacts {
    color: #ffffff;
    text-decoration: none;
    font-family: $primary-text-style;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
  }
}

.adress-list {
  margin-top: 20px;
  margin-bottom: 60px;
}

.footer-contacts-link {
  font-family: $primary-text-style;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

// .adress-item {
//   color: rgba(255, 255, 255, 0.6);
//   margin-top: 20px;

//   &-contacts {

//   }
// }
