.connect {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }

  &-list {
    justify-content: center;
  }
  &-form {
    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }
}
.connect-item + .connect-item {
  margin-left: 10px;
}
.connect-item-link {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  justify-content: center;
  align-items: center;
  @include transition;

  &:hover,
  &:focus {
    background-color: $active-text-color;
  }

  &-svg {
    width: 20px;
    height: 20px;
    fill: #ffffff;
  }
}
