.connect-us {
  width: 570px;
  height: 86px;

  &-title {
    font-family: $primary-text-style;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
}

.connect-form {
  flex-wrap: nowrap;
  align-items: flex-end;

  &-field {
    width: 358px;
    height: 50px;
    background-color: #2f303a;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    margin-top: 20px;
    margin-right: 12px;
    padding-left: 16px;
    color: #afb1b8;
    outline: none;
  }

  &-btn {
    width: 200px;
    height: 50px;
    font-family: $primary-text-style;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    color: #ffffff;
    background: $active-text-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border: none;
    @include transition;

    &-text {
      margin-right: 10px;
    }

    &-svg {
      width: 40px;
      height: 40px;
      fill: #ffffff;
    }
  }
  &-btn:focus,
  &-btn:hover {
    background-color: #188ce8;
  }
}
