header {
  background-color: #ffffff;
}
header {
  position: relative;
  z-index: 10;
}
.header {
  width: 100%;
  @media screen and (max-width: 767px) {
    position: fixed;
    top: 0;
  }
  @media screen and (max-width: 480px) {
    max-width: 480px;
  }
}
