.hero {
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #ececec;
  // max-width: 1600px;

  @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../image/mobile/section-hero/hero-x2-mob.jpg);
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../image/mobile/section-hero/hero-x1-mob.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    padding: 118px 0 118px 0;
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../image/tablet/section-hero/hero-x2-tab.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 118px 0 118px 0;
  }
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../image/tablet/section-hero/hero-x1-tab.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../image/desktop/section-hero/hero-x2-des.jpg);
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../image/desktop/section-hero/hero-x1-des.jpg);
    padding: 200px 0 200px 0;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

// @media screen and (max-width: 767px) {
//   background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/Opt.jpg);
// }

// @media screen and (max-width: 1199px) {
//   padding: 118px 0 118px 0;
//   background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/Opt.jpg);
// }

// @media screen and (min-width: 1200px) {
//   padding: 200px 0 200px 0;
//   background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/Opt.jpg);
// }

.hero-title {
  color: #ffffff;
  font-family: $primary-text-style;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 1199px) {
    font-size: 26px;
    line-height: 1.615;
    letter-spacing: 0.06em;
    width: 360px;
  }

  @media screen and (min-width: 1200px) {
    width: 696px;
    font-size: 44px;
    line-height: 1.363;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}
