.logo-footer {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;

  @media screen and (max-width: 1199px) {
    font-size: 24px;
    line-height: 1.166;
  }

  &-studio {
    color: #ffffff;
  }
}
