.menu-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;

  &-svg-menu {
    display: none;
  }
  &.is-open &-svg-menu {
    display: block;
  }
  &.is-open &-svg-close {
    display: none;
  }

  &:hover &-svg-menu,
  &:focus &-svg-menu {
    fill: $active-text-color;
  }

  &:hover &-svg-close,
  &:focus &-svg-close {
    fill: $active-text-color;
  }
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}
