.form-input {
  width: 450px;
  height: 58px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &-label {
    font-family: $primary-text-style;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.166;
    letter-spacing: 0.01em;
    color: $secondary-text-color;
    width: 450px;
    display: block;

    &-area {
      width: 100%;
      height: 40px;
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 4px;
      padding: 11px 0 11px 42px;
      margin-top: 4px;
      outline: none;
      @include transition;

      &:focus {
        border-color: $active-text-color;
      }
    }

    &-svg {
      position: absolute;
      top: 72%;
      left: 12px;
      transform: translateY(-72%);
      fill: #212121;
      @include transition;

      .form-input-label-area:focus + & {
        fill: $active-text-color;
      }
    }
  }
}

.form-text {
  width: 448px;
  height: 138px;
  margin-left: auto;
  margin-right: auto;

  &-input {
    display: inline-block;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    color: #2f303a;
    padding: 12px 16px 12px 16px;
    margin-top: 4px;
    outline: none;
    @include transition;
    resize: none;

    .form-input-label-area:focus,
    &:focus {
      border-color: $active-text-color;
    }

    &::placeholder {
      font-family: $primary-text-style;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 1.142;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
    }
  }
}
