.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  @include transition(500ms, 500ms);

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0);
    @include transition(500ms, 0ms);
  }

  &-title {
    font-family: $primary-text-style;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: $primary-text-color;
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
    margin-bottom: 12px;
    display: inline-block;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  @include transition(500ms);
   &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 500ms linear 500ms;
  }
}
