.opportunities {
  padding-top: 47px;
  padding-bottom: 94px;

  &-title {
    color: $primary-text-color;
    font-family: $primary-text-style;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
  }

  &-list {
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 50px;
  }

  &-item {
    display: block;
    position: relative;

    .opportunities-list & + & {
      margin-left: 30px;
    }
  }
}

.position-title {
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);

  &-text {
    font-family: $primary-text-style;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
}
