.team {
  background-color: #f5f4fa;

  @media screen and (max-width: 1199px) {
    padding: 60px 0 60px 0;
  }
  @media screen and (min-width: 1200px) {
    padding: 94px 0 94px 0;
  }
  &-title {
    color: $primary-text-color;
    font-family: $primary-text-style;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.03em;
    @media screen and (max-width: 1199px) {
      font-size: 28px;
      line-height: 1.178;
      margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 36px;
      line-height: 1.167;
      margin-bottom: 50px;
    }
  }
}

.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
    & img {
      width: 450px;
      height: 460px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:nth-last-child(n + 3) {
      margin-bottom: 30px;
    }
    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
    & img {
      width: 354px;
      height: 374px;
    }
  }

  @media screen and (min-width: 1200px) {
    & img {
      width: 270px;
      height: 260px;
    }

    .team-list & + & {
      margin-left: 30px;
    }
  }

  &-name {
    color: $primary-text-color;
    font-family: $primary-text-style;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 30px;
  }
  &-position {
    color: $secondary-text-color;
    font-family: $primary-text-style;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 10px;
    margin-bottom: 16px;
  }
}

.team-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
