.socials-list {
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;

  @media screen and (max-width: 1199px) {
    padding-bottom: 24px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 30px;
  }

  &-link {
    height: 44px;
    width: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #ffffff;
    fill: #afb1b8;
    @include transition;

    &:hover,
    &:focus {
      background-color: $active-text-color;
    }

    &:hover &-svg,
    &:focus &-svg {
      fill: #ffffff;
    }

    &-svg {
      @include transition;
    }
  }
  &-item:not(:last-child) {
    margin-right: 10px;
  }
}
