*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.page {
  background-color: #ffffff;
  font-family: $primary-text-style;
}

html {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.active {
  color: $active-text-color;
}

body.modal-open {
  overflow: hidden;
}
